* {
	padding: 0;
	margin: 0;
}
.App {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	text-align: center;
	color: white;
	background: #FFF;
}
h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000;
	margin: 20px 0;
}
.load-more {
	cursor: pointer;
}
.image {
	position: relative;
}
.image-img {
	display: block;
	width: 100%;
	border-radius: 7px;
}
.image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
	border-radius: 7px;
	>* {
		transform: translateY(20px);
		transition: transform 0.25s;
	}
	&:hover {
		opacity: 1;
		>* {
			transform: translateY(0px);
		}
	}
}
.image-overlay-blur {
	backdrop-filter: blur(5px);
}
.image-title {
	font-size: 2em;
	font-weight: bold;
	overflow: hidden;
	width: 100%;
}
.image-description {
	font-size: 1.25em;
	margin-top: 0.25em;
}
